img.Clinton {
width: 100px;
height: 100px;
}
img.Network01 {
    width: 600px;
    height: 450px;
    }
img.Topology {
    width: 600px;
    height: 450px;
    }
img.AWSpipelineconfig {
    width: 600px;
    height: 450px;
    }
img.AWSactivepipeline {
    width: 600px;
    height: 450px;
    }
img.CommitsClinton {
    width: 600px;
    height: 450px;
        }